@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Font family variables
$font-family: "Space Mono", monospace;

// Line height variables
$line-height-body: clamp(0.9375rem, calc(0.7174rem + 0.939vw), 1.5625rem);
$line-height-h1: clamp(1.625rem, calc(1.3609rem + 1.1268vw), 2.375rem);
$line-height-h2: clamp(1.375rem, calc(1.1329rem + 1.0329vw), 2.0625rem);
$line-height-h3: clamp(1rem, calc(0.8239rem + 0.7512vw), 1.5rem);
$line-height-h4: clamp(0.8125rem, calc(0.6585rem + 0.6573vw), 1.25rem);

// Light mode colors
$lightMode-blue: #0079ff;
$lightMode-gray: #697c9a;
$lightMode-bluegray: #4b6a9b;
$lightMode-navyblue: #2b3442;
$lightMode-bluewhite: #f6f8ff;
$lightMode-white: #fefefe;
$box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

// Dark mode colors
$darkMode-blue: #0079ff;
$darkMode-white: #ffffff;
$darkMode-navyblue: #141d2f;
$darkMode-darkblue: #1e2a47;

@use "sass:map";

$theme-colors: (
  "success": #28a745,
  "info": #0079ff,
  "warning": #f74646,
);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
}

h1,
h2 {
  font-weight: bold;
}

h3,
h4,
p {
  font-weight: normal;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// .attribution {
//   color: var(--dark-blue);
//   font-size: 12px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
